    * {
    box-sizing: border-box;
    }

    body {
        background-color: grey;
    }

    div #innerBackground { 
     margin-top: 50px;
      background: url("../images/papaAndPapas.jpeg") no-repeat ; 
      height: 500px;
      background-size: contain;

    }

    .nav a {
        float: left;    
        color: white;
        font-size: 18px;
        font-style: bold;
    }
    .btn {
        background-color: white;
    }